@import "~bootstrap/dist/css/bootstrap.css";  
@font-face {
    font-family: 'Montserrat Regular';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Merriweather Regular';
    src: url('./assets/fonts/Merriweather/Merriweather-Regular.ttf');
}


$font-stack:    'Montserrat Regular', sans-serif;
body {
    font-family: $font-stack;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: normal; 
}