<div class="container">
  <article *ngFor="let post of posts | slice:0:5">
      <h1 class="mx-auto mb-6 text-center">{{ post.title}} </h1>
      <div class="article-infos row d-flex justify-content-center">
        <span>Destination Europe</span>
        <span>Added by <abbr> Williams Doe </abbr></span>
        <span>January 01, 2018</span>
      </div>
      <img class="article-img img-fluid" src="assets/images/home/thumb.png" alt="Logo"/>
      <div class="article-body">
        <p class="text-justify">{{ post.body }}</p>
        <button class="btn article-btn" [routerLink]="['/post/', post.id]">read more</button>
      </div>
  </article>
  <ul class="pagination row justify-content-between">
      <li class="prev">
        <a href="#">previuos</a>
      </li>
      <li class="next disabled">
        <a href="#">next</a>
      </li>
    </ul>
</div>
